<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113652421679-1v44qmkh57e4a6k6gie57ashoo8k679h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113652421679-1v44qmkh57e4a6k6gie57ashoo8k679h</string>
	<key>API_KEY</key>
	<string>AIzaSyDY5crwCyRQUFH5PzZKXZbJ2a9ycTq7Vw8</string>
	<key>GCM_SENDER_ID</key>
	<string>113652421679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.easycode.ChatTAK</string>
	<key>PROJECT_ID</key>
	<string>chattak-62a98</string>
	<key>STORAGE_BUCKET</key>
	<string>chattak-62a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113652421679:ios:ca1952e33e94a1e62ce2da</string>
</dict>
</plist>